In [1]:
# imports
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from config import password

### Data Cleaning

In [2]:
all_data = pd.read_csv('Meteorite_Landings.csv')

In [ ]:
all_data.head()

In [9]:
# keep only data on meteorites with data about when they fell
data = all_data[all_data['fall'] == 'Fell']

data.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [ ]:
data.to_csv('meteorite.csv')

In [12]:
data.shape

(1107, 10)

In [19]:
data.rename(columns={'mass (g)': 'mass_g'}, inplace=True)

In [48]:
sum(data.isnull()['id'])

0

### Connecting to Database & Exporting Table

In [14]:
# Connencting to database
connection = f"postgres://rjjyvluhffgfit:{password}@ec2-54-197-34-207.compute-1.amazonaws.com:5432/ddk7ubc172h81e"
engine = create_engine(f'{connection}')

In [13]:
engine

Engine(postgres://rjjyvluhffgfit:***@ec2-54-197-34-207.compute-1.amazonaws.com:5432/ddk7ubc172h81e)

In [21]:
# Export table
data.to_sql('meteorites', con=engine, if_exists='replace', index=False)

In [23]:
engine.execute('ALTER TABLE meteorites ADD PRIMARY KEY (id);')

In [25]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [28]:
meteorites=Base.classes.meteorites

In [30]:
session=Session()

In [49]:
data.head()

,name,id,nametype,recclass,mass_g,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"

name
id
nametype
recclass
mass_g
fall
year
reclat
reclong
GeoLocation

### Building SQL Table

In [ ]:
#data.to_sql('Meteorite_Landings', con = engine, if_exists = 'append', index = False)